*~
/*-[0-9][0-9].xml
archive.json
draft-ietf-rats-corim.xml
Gemfile.lock
*.html
/lib
/node_modules/
package-lock.json
*.pdf
*.redxml
/.refcache
report.xml
*.swp
.tags
/.targets.mk
draft-*.txt
*.upload
/versioned/
/.vscode/
!cddl/cbor-tags.txt
*.cbor
*.pretty
cddl/concise-swid-tag.cddl
cddl/*-autogen.cddl
error.txt
cddl/examples/{corim-4.sig,corim-4.diag,sig-structure.diag,testkey.pem,testcert.pem}
