.includes.mk
.mailmap
.tags
*.cbor
*.html
*.pdf
*.pretty
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
archive.json
cddl/*-autogen.cddl
cddl/concise-swid-tag.cddl
cddl/examples/{corim-4.sig,corim-4.diag,sig-structure.diag,testkey.pem,testcert.pem}
draft-*.txt
draft-ietf-rats-corim.xml
error.txt
Gemfile.lock
package-lock.json
report.xml
!cddl/cbor-tags.txt
!requirements.txt
